<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="it.itsacademy.gestioneordinirestclient.service" level="debug"/>
        <Root level="${log.root.level:-INFO}">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>